html {
	overflow: hidden;
}

body {
	margin: 0;
	background-color: white;
	background-image: url(img/forest.png);
 	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 90vw;
	height: 100vh;
	animation: fondo 10s;
	animation-iteration-count: infinite;
}

.moon {
	position: absolute;
	left: 35vw;
	top: 5vh;
	opacity: 0;
	animation: movimientoSatelite 10s;
	animation-iteration-count: infinite;
}

.sun {
	position: absolute;
	right: 10vw;
	top: 5vh;
	opacity: 1;
	animation: movimientoSol 10s;
	animation-iteration-count: infinite;
}

.lookingLeft {
	transform: scaleX(-1);
}

.cloud1 {
	position: absolute;
	left: 15vw;
	top: 5vw;
}

.cloud2 {
	position: absolute;
	left: 30vw;
	top: 10vw;
}

.cloud3 {
	position: absolute;
	left: 45vw;
	top: 5vw;
}

.cloud4 {
	position: absolute;
	left: 60vw;
	top: 10vw;
}

.clouds {
	animation: colorNubes 10s;
	animation-iteration-count: infinite;
}

.plants {
	position: absolute;
	left: 18vw;
	right: 18vw;
	bottom: 0px;
	animation: movimientoPlantas 10s;
	animation-iteration-count: infinite;
}

@keyframes fondo {
	0% {
		background-color: white;
	}
	20% {
		background-color: #bf4080;	
	}
	40% {
		background-color: #333333; 
	}
	60% {
		background-color: #000033;
	}
	80% {
		background-color: #b35900;
	}
	100% {
		background-color: white;
	}
}

@keyframes movimientoSol {
	0% {
		right: 10vw;
		opacity: 1;
	}
	20% {
		right: 40vw;
		opacity: 1;
	}
	40% {
		right: 80vw;
		opacity: 0;
	}
	60% {
		right: 0vw;
		opacity: 0;
	}
	80% {
		right: 5vw;
		opacity: 0;
	}
	100% {
		right: 10vw;
		opacity: 1;
	}
}

@keyframes movimientoSatelite {
	0% {
		opacity: 0;	
	}
	20% {
		opacity: 0;	
	}
	40% {
		opacity: 0;	
	}
	60% {
		opacity: 1;	
	}
	80% {
		left: -5vw;
		opacity: 0.2;	
	}
	100% {
		opacity: 0;	
	}
}

@keyframes movimientoPlantas {
	0% {
		bottom: 0px;
	}
	20% {
		bottom: -50px;
	}
	40% {
		bottom: -75px;
	}
	60% {
		bottom: -200px;
	}
	80% {
		bottom: -30px;
	}
	100% {
		bottom: 0px;
	}
}

@keyframes colorNubes {
	0% {
		opacity: 1;	
	}
	20% {
		opacity: 0.8;	
	}
	40% {
		opacity: 0.6;	
	}
	60% {
		opacity: 0;	
	}
	80% {
		opacity: 0.2;	
	}
	100% {
		opacity: 1;	
	}
}
.greenGrass { 
	position: fixed;
	left: 10vw;
	right: 10vw;
	bottom: 0px;
	border: 3px solid #2DD261;
	background-color: #2DD261;
	border-radius: 5%;
	width: 80vw;
	height: 15px;
}

.thermometer {
	display: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    flex-flow: column nowrap;
    text-align: center;
    text-align: justify;
    font-family: monospace;
    font-size: 20px;
    height: 50vh;
    width: 5vw;
}
